<md-toolbar> <button (click)="isOpened()" md-mini-fab><md-icon>list</md-icon></button>Eschool</md-toolbar>

<md-sidenav-container>
  <md-sidenav #sidenav mode="side" opened="{{Opened}}">

    <md-nav-list>
      <md-list-item>
        <img md-list-avatar src="./../images/teacher.svg" alt="...">
        <a [routerLink]="['/teacher']">Teachers</a>
      </md-list-item>
      <md-list-item>
        <img md-list-avatar src="./../images/paper-plane.svg" alt="...">
        <a [routerLink]="['/message']">Messages</a>
      </md-list-item>
      <md-list-item>
        <img md-list-avatar src="./../images/reading.svg" alt="...">
        <a [routerLink]="['/student']">Students</a>
      </md-list-item>

      <md-list-item><img md-list-avatar src="./../images/blackboard.svg" alt="...">
        <a [routerLink]="['/class']">Class</a>
      </md-list-item>
      <md-list-item><img md-list-avatar src="./../images/translator.svg" alt="...">
        <a [routerLink]="['/subject']">Subject</a>
      </md-list-item>
      <md-list-item>
        <img md-list-avatar src="./../images/couple.svg" alt="...">
        <a [routerLink]="['/parent']">Parents</a>
      </md-list-item>

      <md-list-item>
        <img md-list-avatar src="./../images/van.svg" alt="...">
        <a [routerLink]="['/van']">Van</a>
      </md-list-item>
      <md-list-item>
        <img md-list-avatar src="./../images/radar.svg" alt="...">
        <a [routerLink]="['/area']">Area</a>
      </md-list-item>
      <md-list-item>
        <img md-list-avatar src="./../images/email.svg" alt="...">
        <a [routerLink]="['/email']">Email</a>
      </md-list-item>

      <md-list-item>
        <img md-list-avatar src="./../images/location-pointer.svg" alt="...">
        <a [routerLink]="['/map']">Map</a>
      </md-list-item>

      <md-list-item>
        <img md-list-avatar src="./../images/taxi-driver.svg" alt="...">
        <a [routerLink]="['/driver']">Driver</a>
      </md-list-item>


   <!--   <md-list-item>
        <img md-list-avatar src="./../images/browser.svg" alt="...">
        <a [routerLink]="['/setting']">Setting</a>
      </md-list-item>-->


      <md-list-item>
        <img md-list-avatar src="./../images/logout.svg" alt="...">
        <a (click)="logout()">LogOut</a>
      </md-list-item>



    </md-nav-list>

  </md-sidenav>

  <form>

    <div class="flex-container" fxFlex="50%" fxLayout="column" fxLayout.xs="column">
      <md-input-container class="example-full-width">
        <input md-input name="something" [(ngModel)]="parentData.gardian" #gardian placeholder="gardian Name">
      </md-input-container>


      <md-input-container class="example-full-width">
        <input md-input name="something" [(ngModel)]="parentData.address" #address placeholder="Address">
      </md-input-container>


      <md-input-container class="example-full-width">
        <input md-input name="something" [(ngModel)]="parentData.houseNo" #houseNo placeholder="House No ">
      </md-input-container>


      <!--student id <input type="text"  #studentId>-->
       
      <md-select placeholder="Student" placeh name="student" [(ngModel)]="studentId">
        <md-option *ngFor="let student of students" [value]="student._id">{{student.name}}</md-option>
      </md-select>



      <md-input-container class="example-full-width">
        <input name="something" md-input #email placeholder="email">
      </md-input-container>

      <md-input-container class="example-full-width">
        <input name="something" md-input #password placeholder="password">
      </md-input-container>
      
      <md-select placeholder="Van" placeh name="van" [(ngModel)]="vanId">
        <md-option *ngFor="let van of vans"  [value]="van._id">{{van.name}}</md-option>
      </md-select>


      <button   *ngIf="editMode" md-button (click)="saveParents(gardian.value,address.value,houseNo.value,studentId , email.value , password.value,vanId)">submit</button>
        <button *ngIf="!editMode" md-button (click)="editParants(gardian.value,address.value,houseNo.value,studentId , email.value , password.value,vanId)">submit</button>
    </div>

  </form>


       <ng-table 
        [config]="config" 
        (tableChanged)="onChangeTable(config)" 
        (cellClicked)="onCellClick($event)" 
        [rows]="rows" 
        [columns]="columns">
       </ng-table>


       <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>



</md-sidenav-container>