<md-toolbar> <button (click)="isOpened()" md-mini-fab><md-icon>list</md-icon></button>Eschool</md-toolbar>

<md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened="{{Opened}}">

        <md-nav-list>
            <md-list-item>
                <img md-list-avatar src="./../images/teacher.svg" alt="...">
                <a [routerLink]="['/teacher']">Teachers</a>
            </md-list-item>
            <md-list-item>
                <img md-list-avatar src="./../images/paper-plane.svg" alt="...">
                <a [routerLink]="['/message']">Messages</a>
            </md-list-item>
            <md-list-item>
                <img md-list-avatar src="./../images/reading.svg" alt="...">
                <a [routerLink]="['/student']">Students</a>
            </md-list-item>

            <md-list-item><img md-list-avatar src="./../images/blackboard.svg" alt="...">
                <a [routerLink]="['/class']">Class</a>
            </md-list-item>
            <md-list-item><img md-list-avatar src="./../images/translator.svg" alt="...">
                <a [routerLink]="['/subject']">Subject</a>
            </md-list-item>
            <md-list-item>
                <img md-list-avatar src="./../images/couple.svg" alt="...">
                <a [routerLink]="['/parent']">Parents</a>
            </md-list-item>

            <md-list-item>
                <img md-list-avatar src="./../images/van.svg" alt="...">
                <a [routerLink]="['/van']">Van</a>
            </md-list-item>
            <md-list-item>
                <img md-list-avatar src="./../images/radar.svg" alt="...">
                <a [routerLink]="['/area']">Area</a>
            </md-list-item>
            <md-list-item>
                <img md-list-avatar src="./../images/email.svg" alt="...">
                <a [routerLink]="['/email']">Email</a>
            </md-list-item>

            <md-list-item>
                <img md-list-avatar src="./../images/location-pointer.svg" alt="...">
                <a [routerLink]="['/map']">Map</a>
            </md-list-item>

            <md-list-item>
                <img md-list-avatar src="./../images/taxi-driver.svg" alt="...">
                <a [routerLink]="['/driver']">Driver</a>
            </md-list-item>


             <md-list-item>
                <img md-list-avatar src="./../images/browser.svg" alt="...">
                <a [routerLink]="['/routes']">Routes</a>
            </md-list-item>


            <md-list-item>
                <img md-list-avatar src="./../images/browser.svg" alt="...">
                <a [routerLink]="['/setting']">Setting</a>
            </md-list-item>


            <md-list-item>
                <img md-list-avatar src="./../images/logout.svg" alt="...">
                <a (click)="logout()">LogOut</a>
            </md-list-item>



        </md-nav-list>

    </md-sidenav>
    <router-outlet></router-outlet>
</md-sidenav-container>